.form-box {
    width: 320px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-botton: 35px;
}

.form-row label {
    font-weight: 500;
    margin-bottom: 4px;
}

.form-row input {
    padding: 8px
}